.loginForm{
    height: 650px;
}
.button-register{
    background-color: rgb(24, 224, 24);
    padding: 5px;
    border-radius: 5px;
}
/* https://ibb.co/XF2CHcv
https://ibb.co/xq5mrQY
https://ibb.co/fvsn6dz
https://ibb.co/5rsQrdP
https://ibb.co/pbDST3D
https://ibb.co/VCMHwM8
https://ibb.co/PtLnFWq
https://ibb.co/mHkLVdf
https://ibb.co/CzFP3j3
https://ibb.co/DQQKL5J
https://ibb.co/4JkpCw2 */